# Node / npm
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/
composer.lock

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs and temp files
*.log
tmp/
temp/

# Promotional Site (Not for distribution)
public/
